<!--Derre Evers -r0832729-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>New Theme Park</title>
</head>
<body>
<h3>New theme park</h3>
<form action="/submitNewThemePark">
    <p><label for="parkName">Name theme park</label>
        <input type="text" name="parkName" id="parkName">
    </p>
    <p><input type="submit" name="submit" value="Confirm theme park"></p>
</form>
<p><a href="/">Back to homepage</a></p>
</body>
</html>